form-h {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  
  div {
    margin: 10px 0;
  }
  
  label {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  
  select, input[type="number"], input[type="date"], input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
  }
  
  select {
    width: 200px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  p {
    color: red;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
  }