table {
    border-collapse: collapse;
    margin: 20px 0;
    width: 100%;
  }
  
  table th {
    background-color: #F2F2F2;
    font-weight: bold;
    padding: 10px;
    text-align: left;
  }
  
  table td {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  table tr:nth-child(even) td {
    background-color: #F2F2F2;
  }
  
  table tr:hover td {
    background-color: #EAEAEA;
  }